
.project-badge {
    border-radius: 20px;
    padding: 2px 10px;
    min-height: auto;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    /* background-color: #db5383; */
    color: white;
    font-size: 12px;
}

item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #ffffff !important;
}